:root {
  --primary-color: #8A3324; /* Brownish Maroon */
  --secondary-color: #FF6F00; /* Basketball Orange */
  --accent-color: #000000; /* Black */
  --background-color: #FAF6F0; /* Off White */
  --text-color: #000000; /* Black */
}

/* App.css */


.react-router-loading-bar {
  background-color: #8A3324; /* Change to your desired color */
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the aspect ratio is maintained */
}

.arrow-down {
  width: 125px;
  margin-top: 75px;
}

/* For mobile devices */
@media (max-width: 768px) {
  .hero-image {
    height: 675px; /* Adjust the height as needed for mobile */
  }
}

/* For desktop */
@media (min-width: 769px) {
  .hero-image {
    height: 935px; /* Adjust the height as needed for desktop */
  }

  .hero-text h1 {
    font-size: 60px; /* Increase font size for desktop */
  }

  .hero-text h2 {
    font-size: 32px; /* Increase font size for desktop */
  }

  .btn {
    font-size: 18px; /* Increase button font size for desktop */
  }
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bolder;
  color: #fff;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.hero-text h2 {
  font-size: 24px;
}
.App-header h1 {
  margin-bottom: 20px;
}

.App-header h2 {
  font-size: 24px;
}

.App-main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.cta-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 125px;
  height: 50px;
}

.cta-button:hover {
  background-color: #0056b3;
}

.info {
  margin-top: 20px;
  text-align: center;
}

.info h3 {
  color: #333;
}

.info p {
  color: #666;
}

.info ul {
  list-style-type: none;
  padding: 0;
}

.info ul li {
  margin-bottom: 10px;
}

.App-footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.header {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-link {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: var(--background-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-heading {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-submit {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: var(--accent-color);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  text-align: center;
  margin-top: 25px;
}

.profile-avatar img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-avatar h5 {
  margin: 0;
}

.profile-avatar p {
  margin: 5px 0;
  color: #888;
}

.profile-avatar button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.profile-details {
  margin-top: 20px;
  text-align: center;
}

.info-section, .social-media {
  margin-bottom: 30px;
}

.info-section h6, .social-media h6 {
  margin-top: 0;
}

.info-item {
  margin-bottom: 10px;
}

.info-item h6 {
  margin-top: 0;
}

.social-icons a {
  color: var(--primary-color);
  text-decoration: none;
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .profile-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .profile-avatar {
    margin-right: 20px;
  }

  .profile-details {
    text-align: left;
  }

  .info-section, .social-media {
    text-align: left;
  }

  .info-item {
    display: flex;
    justify-content: space-between;
  }

  .info-item h6 {
    flex: 0 0 30%;
  }

  .info-item p {
    flex: 0 0 70%;
  }
}



/* Like button */
.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.like-button .like-icon {
  width: 24px; /* Adjust icon size as needed */
  margin-right: 8px;
}

.like-button .like-count {
  font-size: 14px;
  color: #777;
}


.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.search-input {
  width: 300px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 50px;
  outline: none;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(178, 34, 34, 0.5);
}

.search-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: -50px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.search-button:hover {
  background-color: var(--accent-color);
}

.play-now-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.courts-section {
  text-align: center;
  margin-top: 30px;
}

.courts-container {
  list-style: none;
  padding: 0;
}

.court-item {
  margin-bottom: 20px;
}

.court-info {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  transition: box-shadow 0.3s ease;
}

.court-info:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.court-name {
  font-weight: bold;
  font-size: 1.2em;
}

.court-location {
  font-style: italic;
  color: #888;
  margin-top: 5px;
}

.court-amenities {
  color: #666;
  margin-top: 10px;
}

.court-action-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.court-action-button.play {
  background-color: var(--secondary-color);
  color: white;
}

.court-action-button.play:hover {
  background-color: var(--primary-color);
}

.court-action-button.leave {
  background-color: #dc3545;
  color: white;
}

.court-action-button.leave:hover {
  background-color: #c82333;
}

.active-users {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
}


/* Profile Page Container */
.personal-profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Profile Container */
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Profile Avatar Section */
.profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Upload Image Button */
.upload-btn {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #0e71a9;
}

/* Profile Details Section */
.profile-details {
  flex: 1;
  margin-left: 20px;
}

/* Information Section */
.info-section {
  margin-bottom: 20px;
}

.info-header {
  font-size: 18px;
  color: #1da1f2;
}

.twitter-hr {
  border-top: 1px solid #e1e8ed;
}

/* Edit and Save Buttons */
.twitter-btn {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
}

.twitter-btn:hover {
  background-color: #0e71a9;
}

.save-btn {
  background-color: #17bf63;
}

.edit-btn {
  background-color: #1da1f2;
}

.logout-btn {
  background-color: #ffad1f;
}

/* Input Fields */
.twitter-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccd6dd;
  border-radius: 4px;
  font-size: 14px;
}

/* Social Media Section (Your Posts) */
.social-media {
  margin-bottom: 20px;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* Individual Post */
.twitter-post {
  border: 1px solid #ccd6dd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f5f8fa;
}

.twitter-post-title {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.twitter-post-description {
  font-size: 14px;
  color: #333;
}

.twitter-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* ProfilePage.css */
/* ProfilePage.css */
.post-actions {
  position: relative;
  display: flex;
  align-items: center;
}

.post-actions-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 20px;
}

.post-actions-btn:hover {
  color: #000;
}

.post-actions-dropdown {
  position: absolute;
  top: 0;
  bottom: -10px;
  right: -1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 10;
  padding: 8px;
}

.post-actions-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #333;
}

.post-actions-dropdown button:hover {
  background-color: #f2f2f2;
}


/* Responsive Adjustments */
@media (max-width: 600px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-details {
    margin-left: 0;
    margin-top: 20px;
  }
}


.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccd6dd;
  border-radius: 8px;
  background-color: #f5f8fa;
  text-align: center;
}

.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 32px;
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;
}

.upload-button:hover {
  background-color: #0e71a9;
}

.upload-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1da1f2;
}

.input-group {
  width: 100%;
  margin-bottom: 10px;
}

.input-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccd6dd;
  border-radius: 4px;
  font-size: 14px;
}

.file-input {
  display: none;
}

.submit-button {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.submit-button:hover {
  background-color: #0e71a9;
}


/* LoadingScreen.css */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 9999; /* Ensure it's on top */
}

.loading-screen.loaded {
  opacity: 0;
  pointer-events: none; /* Clicks won't be registered */
}

.logo {
  width: 200px; /* Adjust size as needed */
  height: 200px;
  background-image: url('path_to_your_logo.png');
  background-size: contain;
  filter: blur(10px); /* Initial blur effect */
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

#Logoscreen {
  width: 200px;
}


.btn-modern {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-modern:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  transform: translateY(-2px);
}

.btn-modern:active {
  transform: translateY(0);
}

.save-btn {
  margin-right: 10px;
}

.edit-btn {
  margin-right: 10px;
}


.btn-modern {
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-modern:hover {
  background: var(--secondary-color);
  transform: translateY(-2px);
}

.btn-modern:active {
  transform: translateY(0);
}

.save-btn {
  margin-right: 10px;
}

.edit-btn {
  margin-right: 10px;
}


/* Header.css */
/* Header.css */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  gap: 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.close-icon {
  display: none; /* Hide by default */
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .close-icon {
    display: block; /* Show close icon on mobile */
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px;
    width: 175px;
    height: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    gap: 10px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    padding: 10px 0;
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  .menu-icon {
    display: none; /* Hide hamburger icon on desktop */
  }

  .close-icon {
    display: none; /* Hide close icon on desktop */
  }
}

.Toastify {
  z-index: 10000; /* Adjust the value as needed */
}

.star-rating {
  display: inline-block;
  font-size: 1.5rem;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  margin-right: 0.5rem;
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
  color: #ffc107; /* Change to your desired star color */
}

.star-rating label:hover,
.star-rating input[type="radio"]:checked ~ label {
  color: #ffc107;
}

.review-section {
  margin-top: 20px;
}

.review-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.review-submit-button,
.leave-review-button,
.toggle-reviews {
  background-color: var(--primary-color); /* Use your primary color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.review-submit-button:hover,
.leave-review-button:hover,
.toggle-reviews:hover {
  background-color: var(--secondary-color); /* Darken on hover */
  transform: translateY(-1px); /* Add slight upward lift */
}

.nav-button {
  background-color: var(--primary-color); /* Use your primary color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.nav-button:hover {
  background-color: var(--secondary-color); /* Darken on hover */
  transform: translateY(-1px); /* Add slight upward lift */
}

.profile-playnow {
  color: inherit;
  text-decoration: none;
}

/* Loading animation styles */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--secondary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}