/* ProfilePage.css */

:root {
  --primary-color: #B22222; /* Deep Red */
  --secondary-color: #FFD700; /* Gold */
  --accent-color: #000000; /* Black */
  --background-color: #FFFFFF; /* White */
  --text-color: #2C3E50; /* Dark Text Color */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary-color);
  padding: 20px;
  color: white;
}

.App-main {
  padding: 40px 20px;
}

.cta-button {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.App-footer {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.header {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-link {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: var(--background-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-heading {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-submit {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: var(--accent-color);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  text-align: center;
  margin-top: 25px;
}

.profile-avatar img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-avatar h5 {
  margin: 0;
}

.profile-avatar p {
  margin: 5px 0;
  color: #888;
}

.profile-avatar button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.profile-details {
  margin-top: 20px;
  text-align: center;
}

.info-section, .social-media {
  margin-bottom: 30px;
}

.info-section h6, .social-media h6 {
  margin-top: 0;
}

.info-item {
  margin-bottom: 10px;
}

.info-item h6 {
  margin-top: 0;
}

.social-icons a {
  color: var(--primary-color);
  text-decoration: none;
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .profile-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .profile-avatar {
    margin-right: 20px;
  }

  .profile-details {
    text-align: left;
  }

  .info-section, .social-media {
    text-align: left;
  }

  .info-item {
    display: flex;
    justify-content: space-between;
  }

  .info-item h6 {
    flex: 0 0 30%;
  }

  .info-item p {
    flex: 0 0 70%;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.search-input {
  width: 300px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 50px;
  outline: none;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(178, 34, 34, 0.5);
}

.search-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: -50px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.search-button:hover {
  background-color: var(--accent-color);
}

.play-now-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.courts-section {
  text-align: center;
  margin-top: 30px;
}

.courts-container {
  list-style: none;
  padding: 0;
}

.court-item {
  margin-bottom: 20px;
}

.court-info {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  transition: box-shadow 0.3s ease;
}

.court-info:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.court-name {
  font-weight: bold;
  font-size: 1.2em;
}

.court-location {
  font-style: italic;
  color: #888;
  margin-top: 5px;
}

.court-amenities {
  color: #666;
  margin-top: 10px;
}

.court-action-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.court-action-button.play {
  background-color: #28a745;
  color: white;
}

.court-action-button.play:hover {
  background-color: #218838;
}

.court-action-button.leave {
  background-color: #dc3545;
  color: white;
}

.court-action-button.leave:hover {
  background-color: #c82333;
}

.active-users {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
}


/* Profile Page Container */
.personal-profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Profile Container */
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Profile Avatar Section */
.profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Upload Image Button */
.upload-btn {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #0e71a9;
}

/* Profile Details Section */
.profile-details {
  flex: 1;
  margin-left: 20px;
}

/* Information Section */
.info-section {
  margin-bottom: 20px;
}

.info-header {
  font-size: 18px;
  color: #1da1f2;
}

.twitter-hr {
  border-top: 1px solid #e1e8ed;
}

/* Edit and Save Buttons */
.twitter-btn {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
}

.twitter-btn:hover {
  background-color: #0e71a9;
}

.save-btn {
  background-color: #17bf63;
}

.edit-btn {
  background-color: #1da1f2;
}

.logout-btn {
  background-color: #ffad1f;
}

/* Input Fields */
.twitter-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccd6dd;
  border-radius: 4px;
  font-size: 14px;
}

/* Social Media Section (Your Posts) */
.social-media {
  margin-bottom: 20px;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* Individual Post */
.twitter-post {
  border: 1px solid #ccd6dd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f5f8fa;
}

.twitter-post-title {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.twitter-post-description {
  font-size: 14px;
  color: #333;
}

.twitter-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.twitter-trash-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 5px;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-details {
    margin-left: 0;
    margin-top: 20px;
  }
}


.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccd6dd;
  border-radius: 8px;
  background-color: #f5f8fa;
  text-align: center;
}

.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 32px;
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;
}

.upload-button:hover {
  background-color: #0e71a9;
}

.upload-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1da1f2;
}

.input-group {
  width: 100%;
  margin-bottom: 10px;
}

.input-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccd6dd;
  border-radius: 4px;
  font-size: 14px;
}

.file-input {
  display: none;
}

.submit-button {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.submit-button:hover {
  background-color: #0e71a9;
}


/* LoadingScreen.css */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 9999; /* Ensure it's on top */
}

.loading-screen.loaded {
  opacity: 0;
  pointer-events: none; /* Clicks won't be registered */
}

.logo {
  width: 200px; /* Adjust size as needed */
  height: 200px;
  background-image: url('path_to_your_logo.png');
  background-size: contain;
  filter: blur(10px); /* Initial blur effect */
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

#Logoscreen {
  width: 200px;
}


.btn-modern {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-modern:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  transform: translateY(-2px);
}

.btn-modern:active {
  transform: translateY(0);
}

.save-btn {
  margin-right: 10px;
}

.edit-btn {
  margin-right: 10px;
}


.btn-modern {
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-modern:hover {
  background: var(--secondary-color);
  transform: translateY(-2px);
}

.btn-modern:active {
  transform: translateY(0);
}

.save-btn {
  margin-right: 10px;
}

.edit-btn {
  margin-right: 10px;
}


/* Header.css */
/* Header.css */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #B22222;
  color: #fff;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  gap: 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.close-icon {
  display: none; /* Hide by default */
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .close-icon {
    display: block; /* Show close icon on mobile */
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px;
    width: 175px;
    height: 100%;
    background-color: #B22222;
    padding: 20px;
    gap: 10px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    padding: 10px 0;
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  .menu-icon {
    display: none; /* Hide hamburger icon on desktop */
  }

  .close-icon {
    display: none; /* Hide close icon on desktop */
  }
}
